{% extends "kosten.html" %}
{% block verwaltung %}
<div class="content-section mt-3">
    <div class="row">
        <div class="col">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <form action="{{ action }}" method="POST">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ form.datum.label(class="form-control-label") }}
                        {% if form.datum.errors %}
                        {{ form.datum(class="form-control form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.datum.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.datum(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.abrechnungsjahr.label(class="form-control-label") }}
                        {{ form.abrechnungsjahr(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.kostenart.label(class="form-control-label") }}
                        {{ form.kostenart(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.firma.label(class="form-control-label") }}
                        {{ form.firma(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.leistung.label(class="form-control-label") }}
                        {{ form.leistung(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.betrag.label(class="form-control-label") }}
                        {{ form.betrag(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.menge.label(class="form-control-label") }}
                        {{ form.menge(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.einheit.label(class="form-control-label") }}
                        {{ form.einheit(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.umlageschluessel.label(class="form-control-label") }}
                        {{ form.umlageschluessel(class="form-control") }}
                    </div>
                </fieldset>
                <div class="form-group mt-3">
                    {{ form.submit(class="btn btn-outline-primary") }}
                    <a href="{{ url_for('kosten') }}" class="btn
                        btn-outline-primary" role="button">Abbrechen</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock verwaltung %}