{% extends "home.html" %}
{% block content %}
<nav class="nav nav-pills bg-light nav-fill" id="myTab" role="tablist">
  <button class="nav-link active" id="Einheiten-tab" data-bs-toggle="tab"
    data-bs-target="#Einheiten-tab-pane" type="button" role="tab"
    aria-controls="Einheiten-tab-pane" aria-selected="true">Einheiten</button>
  <button class="nav-link" id="Gemeinschaft-tab" data-bs-toggle="tab"
    data-bs-target="#Gemeinschaft-tab-pane" type="button" role="tab"
    aria-controls="Gemeinschaft-tab-pane" aria-selected="false">Gemeinschaftsflächen</button>
  <button class="nav-link" id="Kostenarten-tab" data-bs-toggle="tab"
    data-bs-target="#Kostenarten-tab-pane" type="button" role="tab"
    aria-controls="Kostenarten-tab-pane" aria-selected="false">Kostenarten</button>
  <button class="nav-link" id="Stockwerke-tab" data-bs-toggle="tab"
    data-bs-target="#Stockwerke-tab-pane" type="button" role="tab"
    aria-controls="Stockwerke-tab-pane" aria-selected="false">Stockwerke</button>
  <button class="nav-link" id="Umlageschluessel-tab" data-bs-toggle="tab"
    data-bs-target="#Umlageschluessel-tab-pane" type="button" role="tab"
    aria-controls="Umlageschluessel-tab-pane" aria-selected="false">Umlageschlüssel</button>
  <button class="nav-link" id="Wohnungen-tab" data-bs-toggle="tab"
    data-bs-target="#Wohnungen-tab-pane" type="button" role="tab"
    aria-controls="Wohnungen-tab-pane" aria-selected="false">Wohnungen</button>
  <button class="nav-link" id="Zaehler-tab" data-bs-toggle="tab"
    data-bs-target="#Zaehler-tab-pane" type="button" role="tab"
    aria-controls="Zaehler-tab-pane" aria-selected="false">Zähler</button>
  <button class="nav-link" id="Zaehlertypen-tab" data-bs-toggle="tab"
    data-bs-target="#Zaehlertypen-tab-pane" type="button" role="tab"
    aria-controls="Zaehlertypen-tab-pane" aria-selected="false">Zählertypen</button>
</nav>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="Einheiten-tab-pane" role="tabpanel"
    aria-labelledby="Einheiten-tab" tabindex="0">
    <div class="content-section">
      <table class="table table-light table-striped">
        <thead>
          <tr>
            <th scope="col">Bezeichnung</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
  <div class="tab-pane fade" id="Gemeinschaft-tab-pane" role="tabpanel"
    aria-labelledby="Gemeinschaft-tab" tabindex="0">
    <table class="table table-light table-striped">
      <thead>
        <tr>
          <th scope="col">Bezeichnung</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="Kostenarten-tab-pane" role="tabpanel"
    aria-labelledby="Kostenarten-tab" tabindex="0">
    <table class="table table-light table-striped">
      <thead>
        <tr>
          <th scope="col">Bezeichnung</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="Stockwerke-tab-pane" role="tabpanel"
    aria-labelledby="Stockwerke-tab" tabindex="0">
    <table class="table table-light table-striped">
      <thead>
        <tr>
          <th scope="col">Bezeichnung</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="Umlageschluessel-tab-pane" role="tabpanel"
    aria-labelledby="Umlageschluessel-tab" tabindex="0">
    <table class="table table-light table-striped">
      <thead>
        <tr>
          <th scope="col">Bezeichnung</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="Wohnungen-tab-pane" role="tabpanel"
    aria-labelledby="Wohnungen-tab" tabindex="0">
    <table class="table table-light table-striped">
      <thead>
        <tr>
          <th scope="col">Bezeichnung</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="Zaehler-tab-pane" role="tabpanel"
    aria-labelledby="Zaehler-tab" tabindex="0">
    <table class="table table-light table-striped">
      <thead>
        <tr>
          <th scope="col">Bezeichnung</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="Zaehlertypen-tab-pane" role="tabpanel"
    aria-labelledby="Zaehlertypen-tab" tabindex="0">
    <table class="table table-light table-striped">
      <thead>
        <tr>
          <th scope="col">Bezeichnung</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalCreate" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ModalCreateLabel">Hinzufügen</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
        <button type="button" class="btn btn-primary">Speichern</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="ModalEdit" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ModalEditLabel">Bearbeiten</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
        <button type="button" class="btn btn-primary">Speichern</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="ModalDelete" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ModalDeleteLabel">Löschen</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
        <button type="button" class="btn btn-primary">Speichern</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block MenueLeft %}
<div class="content-section">
  <h4>Aktionen</h4>
  <p class='text-muted '>Bitte wählen
    <div class="btn-group-vertical" role="group" aria-label="Basic outlined
      example">
      <button type="button" class="btn btn-outline-primary"
        data-bs-toggle="modal" data-bs-target="#ModalCreate" data-modal-title="Hinzufügen">Hinzufügen</button>
      <button type="button" class="btn btn-outline-primary"
        data-bs-toggle="modal" data-bs-target="#ModalEdit">Bearbeiten</button>
      <button type="button" class="btn btn-outline-primary"
        data-bs-toggle="modal" data-bs-target="#ModalDelete">Löschen</button>
    </div>
  </p>
</div>
{% endblock MenueLeft %}

{% block MenueRight %}

{% endblock MenueRight %}
{% block script %}
<script>
$(document).ready(function(){
  // AJAX-Aufruf für den ersten Tab
  $.ajax( {
    url: "{{ url_for('load_data', tab_id='Einheiten-tab') }}",
    type: 'GET',
    dataType: 'json',
    success: function(response) {
      $('#Einheiten-tab-pane table tbody').empty();
      $.each(response.data, function(index, data) {
        var row = $('<tr>');
        var bezeichnung = $('<td>').text(data.bezeichnung);
        row.append(bezeichnung);
        $('#Einheiten-tab-pane table tbody').append(row);
      })
    }
  });

  // Event-Handler für den Klick auf einen Tab
  $('#myTab button').click(function() {
    var tabID = $(this).attr('id');
    console.log(tabID)
    $.ajax( {
      url: "{{ url_for('load_data', tab_id= 'dummy') }}".replace("dummy", tabID),
      type: 'GET',
      dataType: 'json',
      success: function(response) {
        $('#' + tabID + '-pane table tbody').empty();
        fillTableHeader(tabID, response.data);
        $.each(response.data, function(index, data) {
          var row = $('<tr>');
            $.each(data, function(key, value) {
              var cell = $('<td>').text(value);
              row.append(cell);
              // console.log(row.text());
            });
            $('#' + tabID + '-pane table tbody').append(row);
        })
      }
    })
  })
})

function fillTableHeader(tabID, data) {
  var tableHeader = $('#' + tabID + '-pane table thead');
  tableHeader.empty();
  var headerRow = $('<tr>');
  $.each(data[0], function(key, value) {
    var headerCell = $('<th>').text(key);
    headerRow.append(headerCell);
  });
  tableHeader.append(headerRow);
  }

  
  $('#ModalCreate, #ModalEdit, #ModalDelete').on('show.bs.modal', function (event) {
  // Das aktive Nav-Tab ermitteln
  var activeTab = document.querySelector('[aria-selected="true"]');
  var activeTabTitle = activeTab.innerText;

  // Den Text des Tab und des gecklickten Buttons als Modal-Titel hinzufügen
  var button = event.relatedTarget
  var buttonTitle = button.innerText;
  var modalTitle = event.target.querySelector('.modal-title');
  modalTitle.innerText = activeTabTitle + ' - ' + buttonTitle;
});


</script>
{% endblock script %}
