{% extends "verwaltung.html" %}
{% block verwaltung %}
  <div class="container mr-auto">
    <div class="content-section mr-auto">
      <h2>Übersicht {{ title }}</h2>
      <table class="table table-light table-striped">
          <thead >
          <tr class="table-hover">
            {% for column in column_names %}
            <th scope="col"> {{ column }} </th>
            {% endfor %}
          </tr>
          </thead>
          {% for data in vermietung %}
              <tbody>
                  <tr>
                      <td>{{ data.weid }}</td>
                      <td>{{ data.wohnung.nummer }}</td>
                      <td>{{ data.vorname }}</td>
                      <td>{{ data.nachname }}</td>
                      <td>{{ data.strasse }}</td>
                      <td>{{ data.hausnummer }}</td>
                      <td>{{ data.plz }}</td>
                      <td>{{ data.ort }}</td>
                      <td>{{ data.mietbeginn }}</td>
                      <td>{{ data.mietende }}</td>
                      <td>{{ data.personen }}</td>
                  </tr>
              </tbody>
          {% endfor %}
      </table>
    </div>
  </div>
{% endblock verwaltung %}

{% block MenueLeft %}
<div class="content-section">
  <h4>Aktionen</h4>
  <p class='text-muted '>
    <div class="btn-group-vertical" role="group" aria-label="Basic outlined example">
        <a class="btn btn-outline-primary me-2" role="button" href="{{ url_for('add_vermietung') }}">Hinzufügen</a>
        <a class="btn btn-outline-primary me-2" role="button" href="{{ url_for('edit_vermietung') }}">Bearbeiten</a>
        <a class="btn btn-outline-danger me-2" role="button" href="{{ url_for('delete_vermietung') }}">Löschen</a>
    </div>
  </p>
</div>
{% endblock MenueLeft %}