{% extends "home.html" %}
{% block content %}
<nav class="navbar bg-light">
  <form class="container-fluid justify-content-start">
    <a class="btn btn-outline-primary me-2" role="button" href="{{ url_for('kosten') }}">Kosten</a>
    <a class="btn btn-outline-primary me-2" role="button" href="{{ url_for('vermietung') }}">Vermietung</a>
    <a class="btn btn-outline-primary me-2" role="button" href="{{ url_for('ablesung') }}">Ablesung</a>
    <!-- <a class="btn btn-outline-primary me-2" role="button" href="{{ url_for('stockwerke') }}">Stockwerke</a>
    <a class="btn btn-outline-primary me-2" role="button" href="{{ url_for('umlageschluessel') }}">Umlageschlüssel</a>
    <a class="btn btn-outline-primary me-2" role="button" href="{{ url_for('wohnungen') }}">Wohnungen</a>
    <a class="btn btn-outline-primary me-2" role="button" href="{{ url_for('zaehler') }}">Zähler</a>
    <a class="btn btn-outline-primary me-2" role="button" href="{{ url_for('zaehlertypen') }}">Zählertypen</a> -->
  </form>
</nav>

<div class="container-fluid bg-light">
{% block verwaltung %}{% endblock verwaltung %}
</div>
{% endblock content %}

{% block MenueLeft %}
<div class="content-section">
  <h4>Aktionen</h4>
  <p class='text-muted '>
    <div class="btn-group-vertical" role="group" aria-label="Basic outlined example">
      <button type="button" class="btn btn-outline-primary disabled" id="add-btn">Hinzufügen</button>
      <button type="button" class="btn btn-outline-primary disabled" id="edit-btn">Bearbeiten</button>
      <button type="button" class="btn btn-outline-danger disabled" id="delete-btn">Löschen</button>
    </div>
  </p>
</div>
{% endblock MenueLeft %}

{% block MenueRight %}
{% endblock MenueRight %}

{% block script %}
{% endblock script %}
