{% extends "stammdaten.html" %}
{% block stammdaten %}
    <div class="content-section mt-3">
      <h2>Übersicht {{ title }}</h2>
      <table class="table table-light table-striped">
          <thead >
          <tr>
              <th scope="col">Nummer</th>
              <th scope="col">Stockwerk</th>
              <th scope="col">qm</th>
              <th scope="col">Zimmer</th>
          </tr>
          </thead>
          {% for data in wohnungen %}
              <tbody>
                  <tr>
                      <td>{{ data.nummer }}</td>
                      <td>{{ data.stockwerk.bezeichnung }}</td>
                      <td>{{ data.qm }}</td>
                      <td>{{ data.zimmer }}</td>
                  </tr>
              </tbody>
          {% endfor %}
      </table>
    </div>
{% endblock %}
{% block MenueLeft %}
<div class="content-section">
  <h4>Aktionen</h4>
  <p class='text-muted '>Bitte wählen
    <div class="btn-group-vertical" role="group" aria-label="Basic outlined example">
      <a class="btn btn-outline-primary me-2" role="button" href="{{ url_for('add_wohnung') }}">Hinzufügen</a>
      <a class="btn btn-outline-primary me-2" role="button" href="{{ url_for('edit_wohnungen') }}">Bearbeiten</a>
      <a class="btn btn-outline-danger me-2" role="button" href="{{ url_for('delete_wohnungen') }}">Löschen</a>
    </div>
  </p>
</div>
{% endblock MenueLeft %}